html {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    background-color: #609AEB;
}
/*.wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #609AEB;
    height: 100vh;
}*/
.welcome {
    text-align: center;
    font-size: 72px;
    font-family: Papyrus;
    color: white;
}
img {
    display: block;
    margin: 3rem auto;
    border-radius: 70px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
    font-family: Papyrus;
    font-size: 36px;
    margin: auto 25px;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    padding: 15px;
}
a:hover {
    color: #80CBFF;
}
.box1 {
    display: flex;
    border: 1px solid #80CBFF;
    background-color: #80CBFF;
    font-family: Papyrus;
    font-size: 24px;
    width: 70%;
    flex-flow: row nowrap;
    margin: 0 auto;
}

.flexleft {
    padding: 0 10px;
}
.flexright {
    padding: 0 10px;
}

.box2 {
    
}

fieldset {
    width: 50%;
}

label {
    display: block;
}

fieldset {
    display: block; 
}

textarea {
    display: block;
}